<!DOCTYPE html>
<html>
<head>
    <title>File Transfer</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>{{ .DeviceName }}</h1>
        <hr>
        {{ if .IsDir }}
        <h2>Files in {{ .CurrentPath }}</h2>
        <ul>
            {{ range .Files }}
            <li>
                {{ if .IsDir }}
                <a href="{{ $.UrlPath }}{{ .Name }}">{{ .Name }}</a>
                {{ else }}
                {{ .Name }} <a href="/download/{{ $.CurrentPath }}/{{ .Name }}" class="btn btn-primary btn-sm">Download</a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <h2>Download {{ .FileName }}</h2>
        <a href="/download/{{ .CurrentPath }}/{{ .FileName }}" class="btn btn-primary">Download</a>
        {{ end }}
    </div>
</body>
</html>